<header>
	<h1>Lista de Contactos</h1>
</header>
<section>
	<%= link_to 'Nuevo contacto', new_contact_path %>
	
	<table>
	  <tr>
		<th>Foto</th>
	    <th>Alias</th>
	    <th>Email</th>
	    <th>Nombre</th>
	    <th>Apellido</th>
	    <th>Teléfono</th>
		<th>Cuenta</th>
	    <th colspan="2"></th>
	  </tr>
	
	  <% @contacts.each do |contact| %>
	    <tr>
	      <td><%= image_tag "https://emea.salesforce.com#{contact.photourl}" %></td>
	      <td><%= contact.name %></td>
	      <td><%= contact.email %></td>
	      <td><%= contact.firstname %></td>
	      <td><%= contact.lastname %></td>
	      <td><%= contact.phone %></td>
	      <td><%= contact.account__bearerid__c %></td>
	      <td><%= link_to 'Ver', contact_path(contact) %></td>
	      <td><%= link_to 'Editar', edit_contact_path(contact) %></td>
	      <td><%= link_to 'Borrar', contact_path(contact),
	              method: :delete,
	              data: { confirm: '¿Seguro?' } %></td>
	    </tr>
	  <% end %>
	</table>
</section>