<header>
	<h1>Lista de Cuentas</h1>
</header>
<section>
	<%= link_to 'Nueva cuenta', new_account_path %>
	
	<table>
	  <tr>
	    <th>Nombre</th>
		<th>Type</th>
	    <th>Shipping City</th>
		<th>Shipping Country</th>
		<th>Created Date</th>
	    <th colspan="2"></th>
	  </tr>
	
	  <% @accounts.each do |account| %>
	    <tr>
	      <td><%= account.name %></td>
		  <td><%= account.type %></td>
	      <td><%= account.shippingcity %></td>
	      <td><%= account.shippingcountry %></td>
	      <td><%= account.createddate %></td>
	      <td><%= link_to 'Ver', account_path(account) %></td>
	      <td><%= link_to 'Editar', edit_account_path(account) %></td>
	      <td><%= link_to 'Borrar', account_path(account),
	              method: :delete,
	              data: { confirm: '¿Seguro?' } %></td>
	    </tr>
	  <% end %>
	</table>
</section>